# Package Managers
yarn.lock
node_modules

# Editor Configs
.idea
.vscode
.DS_Store

# Miscelaneous
/.cache
/build
/public/build
.env
/.react-router

# Prisma
/prisma/data.db
/prisma/data.db-journal
/prisma/migrations

# Tests
/coverage
